<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">SAP SuccessFactors Human Capital Management:
  </h1>
  <p>
    The SAP SuccessFactors HCM Suite includes a complete set of tightly integrated talent 
    management solutions, robust workforce analytics and planning, plus a next generation 
    core HR solution. With over 4,800 customers and more than 40 million users in 177 
    countries, SAP SuccessFactors HCM Software is the most adopted Software-as-a-Service 
    (SaaS) business software in the world.<br><br>
    
    SAP SuccessFactors HCM Suite helps transform business strategies into measurable 
    business outcomes by simplifying HR processes and maximizing employee engagement. 
    It provides unmatched solution breadth and depth through a full set of core HR and 
    talent solutions based on modern cloud technology that makes them simple to use, 
    simple to run and simple for your people to succeed.<br><br>

    We offer implementation and support services for below modules in SAP SuccessFactors 
    HCM applications. <br><br>
  </p> 

  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">Employee Central</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        Deliver real business impact with a next generation core HR system that puts the ‘self’ back in ‘selfservice’. Strategically-minded HR and IT teams have realized that user-friendly core HR solution is the key to accurate employee data. Capturing employee, organizational and talent data all in one solution delivers better results, faster.
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">Recruiting</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        Transform recruiting into a continuous, strategic part of your talent strategy with the only end-to-end recruiting solution that helps you attract, engage and select better candidates and then measure the results.  
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header class="header">
              <mat-panel-title class="title">Onboarding</mat-panel-title>
              <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          By guiding hiring managers, empowering new hires and connecting onboarding to other key talent management activities, SAP SuccessFactors makes onboarding a strategic process that improves job satisfaction, time to productivity and first year retention.
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="header">
                <mat-panel-title class="title">Performance & Goals </mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            Communicate strategy, create meaningful individual goals across the organization, and focus employees on what matters, while enabling executives to monitor goal progress in real-time. Then reward, measure and tie employee performance to business results, streamline the performance appraisal process, and enable meaningful feedback.
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header class="header">
                  <mat-panel-title class="title">Compensation </mat-panel-title>
                  <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              Pay your people based on achievement, establish a pay-for-performance culture – retain top talent and increase productivity across the organization. Calibration drives better compensation decisions with and objective ratings.
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="header">
                    <mat-panel-title class="title">Succession & Development </mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                Anticipate and plan for staffing changes and assure the readiness of employee talent at all levels. Align learning activities with competency gaps to arm your workforce for current and future needs. Improve motivation with continuous development and career planning.
              </mat-expansion-panel>

              <mat-expansion-panel>
                  <mat-expansion-panel-header class="header">
                      <mat-panel-title class="title">Learning </mat-panel-title>
                      <mat-panel-description></mat-panel-description>
                  </mat-expansion-panel-header>
                  Develop a comprehensive learning strategy with a complete learning management solution (LMS) that enables you to manage, develop and deploy instructor-led, and formal and social online training. SAP SuccessFactors Learning helps learning professionals improve employees’ skills, develop leaders, reduce compliance risk, and better enable external audiences.
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="header">
                        <mat-panel-title class="title">Workforce Planning </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                    Leverage in-depth workforce information and benchmarks to assess readiness to execute strategies, forecast the impact of business decisions, mitigate risk and take action.
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                      <mat-expansion-panel-header class="header">
                          <mat-panel-title class="title">Workforce Analytics & Reporting </mat-panel-title>
                          <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                      Deliver actionable, quantitative insights to your business leaders with a powerful combination of talent and business data that produces easy to understand and consume information. Creates a catalyst for positive change in the business.
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="header">
                            <mat-panel-title class="title">SAP Jam </mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        Improve employee productivity and teamwork by combining collaboration, communication and content-creation tools with a private social network for your organization. Jam’s remarkably simple video and screen capture lets everyone share his or her expertise – even right from a mobile device.
                      </mat-expansion-panel>

                      <mat-expansion-panel>
                          <mat-expansion-panel-header class="header">
                              <mat-panel-title class="title">Integrations</mat-panel-title>
                              <mat-panel-description></mat-panel-description>
                          </mat-expansion-panel-header>
                          SAP SuccessFactors provides Dell Boomi or Hana Cloud Integration (HCI) as middle-ware service to integrate your HCM applications with your other IT systems and third-party vendor systems
                        </mat-expansion-panel>
  </mat-accordion>


  </div>