/* NAVIGATION */
ul li a
{
  color:#fff;
}
ul li a:hover,
ul li a:focus
{
  color:#E19834;
}
ul li a,
  ul li a:after,
ul li a:before {
    transition: all .5s;
  }  
  /* stroke */
 ul.stroke li a,
  nav.fill ul li a {
    position: relative;
  }
  ul.stroke li a:after,
  ul.fill li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #E19834;
    height: 1px;
  }
  ul.stroke li a:hover:after {
    width: 100%;
  }
  ul.stroke li a:focus:after {
    width: 100%;
  }
  ul.fill li a {
    transition: all 2s;
  }
  
  ul.fill li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  ul.fill li a:hover {
    color: #E19834;
    z-index: 1;
  }
  ul.fill li a:focus {
    color: #E19834;
    z-index: 1;
  }
  ul.fill li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  ul.fill li a:focus:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
  
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }