  <div class="container">
    <div class="row">
      <div class="col-md-5 col-12 heading">
  <h1>
      We look forward to speaking with you and answering your questions!
  </h1>
  <br>
  <h3>
      You may contact us at (+1) 603 275 0067 or
      fill out the form and one of our representatvies will reach out to you shortly.
      
  </h3>



      </div>
      <mat-card class="col-md-7 col-12 form">
        <form action="">
          <div class="row">

          <mat-form-field class="example-full-width col-md-6 col-12">
            <input matInput ngModel name="firstname" placeholder="First Name" required>
            <mat-error>
              This field is required
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width col-md-6 col-12">
              <input matInput ngModel name="lastname" placeholder="Last Name" required>
              <mat-error>
                This field is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width col-12">
                <input matInput ngModel name="company" placeholder="Company Name" required>
                <mat-error>
                  This field is required
                </mat-error>
              </mat-form-field>

              <mat-form-field class="example-full-width col-12">
                  <input ngModel name="jobtitle" matInput placeholder="Job Title" required>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width col-12">
                    <mat-select ngModel name="industry" placeholder="Select Industry" required>
                      <mat-option *ngFor="let x of industries" [value]="x.value">
                        {{ x.viewValue }}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      This field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width col-md-4 col-12">
                  <input matInput ngModel name="city" placeholder="City" required>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
      
                <mat-form-field class="example-full-width col-md-4 col-12">
                   <input matInput ngModel name="state" placeholder="State/Region" required>
                   <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>
      
                <mat-form-field class="example-full-width col-md-4 col-12">
                  <input matInput ngModel name="country" placeholder="Country" required>
                  <mat-error>
                    This field is required
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width col-12">
                    <input matInput ngModel name="email" placeholder="Email" required>
                    <mat-error>
                      This field is required
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width col-12">
                    <input matInput ngModel name="phone" placeholder="Phone Number" required>
                    <mat-error>
                      This field is required
                    </mat-error>
                </mat-form-field>

                <div class="example-full-width col-12">
                  <mat-card-content>
                    <h2>Which service(s) would you like to learn more about?</h2>
                    <mat-checkbox color="primary" class="col-12">Oracle HCM</mat-checkbox><br>
                    <mat-checkbox color="primary" class="col-12">SAP SuccessFactors</mat-checkbox><br>
                    <mat-checkbox color="primary" class="col-12">WorkDay HCM</mat-checkbox><br>
                    <mat-checkbox color="primary" class="col-12">Other</mat-checkbox>
                  </mat-card-content>
                </div>

                <mat-form-field class="example-full-width col-12">
                    <textarea matInput ngModel name="time" rows="4" placeholder="When is the best time for us to reach you?" required></textarea>
                    <mat-error>
                      This field is required
                    </mat-error>
                  </mat-form-field>

                <button class="example-full-width" color="primary" mat-raised-button>Submit</button>

          </div>
        </form>
      </mat-card>
    </div>
  </div>