.container{
    padding: 120px;
}
h1{
font-size: 1.5rem;
color: orangered;
line-height: 40px;
}
h3{
font-size: 1rem;
color: black;
line-height: 35px;
}
h2{
    font-size: 1.1rem;
    padding: 25px;
}
mat-checkbox{
    padding: 10px;
}
p{
    font-size: 1.5rem;
}
mat-card{
    padding: 20px;
}
.example-full-width{
    margin-top: 10px;
    margin-bottom: 10px;
}
button{
    margin-left: 50px;
    font-weight: 300;
    font-size: 1rem;
    padding: 0 10px 0 10px;
}
mat-spinner{
    margin-left:50px;
}
mat-chip-list{
    margin-left:50px;
}
font{
    font-weight: 600;
}
::ng-deep snack-bar-container.snackbar{
    background: green;
    border-radius:10px 10px 0 0;
  }
  
  ::ng-deep .snackbar .mat-simple-snackbar {
    color: white;
  }
  ::ng-deep .snackbar .mat-simple-snackbar-action{
    color:black;
  }
  ::ng-deep snack-bar-container.failSnack{
    background: red;
    border-radius:10px 10px 0 0;
  }
  
  ::ng-deep .failSnack .mat-simple-snackbar {
    color: white;
  }
  ::ng-deep .failSnack .mat-simple-snackbar-action{
    color:black;
  }
@media only screen and (max-width:768px){
    .container{
        padding:20px;
    }
    button{
        margin: 0 auto;
    }
    mat-spinner{
        margin:0 auto;
    }

}
