<section id="oracle" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 txt-bg">
          <h2 class="display-4">Oracle HCM</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        <a color="primary" mat-raised-button>Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sap" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5 txt-bg">
          <h2 class="display-4">SAP Success Factors HCM</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          <a color="primary" mat-raised-button>Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="workday" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section3.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 txt-bg">
          <h2 class="display-4">Work Day HCM</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          <a color="primary" mat-raised-button>Learn More...</a>        
        </div>
      </div>
    </div>
  </div>
</section>