<section id="oracle" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 txt-bg">
          <h2 class="display-4">Oracle HCM</h2>
          <p>
            Oracle's E-Business Suite Human Capital Management enables you to architect 
            a global foundation for HR data and improved business processes. E-Business 
            Suite Human HCM delivers a robust set of best-in-class human resources functionality 
            that enables you to increase productivity, accelerate business performance, and 
            lower your cost of ownership....
          </p>
        <a color="primary" routerLink = '../oracle' mat-raised-button>Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sap" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section2.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5 txt-bg">
          <h2 class="display-4">SAP Success Factors HCM</h2>
          <p>
              The SAP SuccessFactors HCM Suite includes a complete set of tightly integrated 
              talent management solutions, robust workforce analytics and planning, plus a next 
              generation core HR solution. With over 4,800 customers and more than 40 million 
              users in 177 countries, SAP SuccessFactors HCM Software is the most adopted 
              Software as a Service (SaaS) business software in the world...
          </p>
          <a color="primary" routerLink = '../sap' mat-raised-button>Learn More...</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="workday" class="pad">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="../../assets/images/section3.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5 txt-bg">
          <h2 class="display-4">Work Day HCM</h2>
          <p>
              Work Day HCM applications provide functionality to manage the full worker 
              lifecycle from staffing to compensation using a single intuitive human capital 
              management system...
          </p>
          <a color="primary" routerLink = '../workday' mat-raised-button>Learn More...</a>        
        </div>
      </div>
    </div>
  </div>
</section>