<div class="banner" id="home1" *ngIf='url=="/home"'>
    <div class="container">
        <div class="row">
            <h1 class="text-center ">STRONG HR</h1>
            <i class=" size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center ">GREAT PEOPLE</h1>
            <i class="size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center ">BETTER RESULTS</h1>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="text-center">STRONG HR</h1>
                    </div>
                    <div class="col-md-2">
                        <i class="col-12 size fa fa-chevron-circle-right text-center"></i>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <h1 class="text-center">GREAT PEOPLE</h1>
                <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            </div>
            <div class="col-md-4 col-12">
                <h1 class="text-center col-12">BETTER RESULTS</h1>
            </div>
        </div>
    </div> -->
</div>
<div class="banner" id="home2" *ngIf='url=="/home2"'>
    <div class="container">
        <div class="row">
            <h1 class="text-center col-12">STRONG HR</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center col-12">GREAT PEOPLE</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center col-12">BETTER RESULTS</h1>
        </div>
    </div>
</div>
<div class="banner" id="home3" *ngIf='url=="/home3"'>
    <div class="container">
        <div class="row">
            <h1 class="text-center col-12">STRONG HR</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center col-12">GREAT PEOPLE</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center col-12">BETTER RESULTS</h1>
        </div>
    </div>
</div>
<div class="banner" id="home4" *ngIf='url=="/home4"'>
    <div class="container">
        <div class="row">
            <h1 class="text-center col-12">STRONG HR</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center col-12">GREAT PEOPLE</h1>
            <i class="col-12 size fa fa-chevron-circle-right text-center"></i>
            <h1 class="text-center">BETTER RESULTS</h1>
        </div>
    </div>
</div>
<div class="banner-ot" id="oracle" *ngIf='url=="/oracle"'>

</div>
<div class="banner-ot" id="sap" *ngIf='url=="/sap"'>

</div>
<div class="banner-ot" id="workday" *ngIf='url=="/workday"'>

</div>
<div class="banner-ot" id="about" *ngIf='url=="/about"'>

</div>
<div class="banner-ot" id="contact" *ngIf='url=="/contact"'>

</div>
