.banner{
    background-image: url('../../assets/images/banner-1.jpg');
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}