<div class="banner" id="home1" *ngIf='url=="/home"'>
   <div class="bg-section container">
        <div class="row text-center">
            <div class="col-md txt col-12 f1" @fades>SMART <br> HR</div>
            <div class="col-md-1 col-12" @fadeap>
                <i class=" txt fa fa-caret-right" *ngIf='w>768px'></i>
                <i class=" txt fa fa-caret-down" *ngIf='w<768px'></i>
            </div>
            <div class="col-md txt col-12 f1" @fadeg>GREAT <br>PEOPLE</div>
            <div class="col-md-1 col-12" @fadeas>
                    <i class=" txt fa fa-caret-right" *ngIf='w>768px'></i>
                    <i class=" txt fa fa-caret-down" *ngIf='w<768px'></i>
            </div>
            <div class="col-md txt col-12 f1 " @fadeb>BETTER RESULTS</div>
        </div>
    </div>
</div>
<div class="banner" id="oracle" *ngIf='url=="/oracle"'>
    <div class="container text-center">
        <img src="../../assets/images/oracle-logo.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="sap" *ngIf='url=="/sap"'>
    <div class="container text-center">
        <img src="../../assets/images/sap-logo.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="workday" *ngIf='url=="/workday"'>
    <div class="container text-center">
        <img src="../../assets/images/workday-logo.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="about" *ngIf='url=="/about"'>
    <div class="container text-center">
            <img src="../../assets/images/about.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="contact" *ngIf='url=="/contact"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="login" *ngIf='url=="/LFJ/login"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="signup" *ngIf='url=="/signup"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="overview" *ngIf='url=="/overview"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="profile" *ngIf='url=="/profile"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>
<div class="banner" id="skills" *ngIf='url=="/skills"'>
    <div class="container text-center">
            <img src="../../assets/images/contact.png" class="img-fluid col-12 col-md-9" alt="" @zoomin>
    </div>
</div>