<div class="banner" id="home1" *ngIf='url=="/home"'>
    
</div>
<div class="banner" id="home2" *ngIf='url=="/home2"'>

</div>
<div class="banner" id="home3" *ngIf='url=="/home3"'>

</div>
<div class="banner" id="home4" *ngIf='url=="/home4"'>

</div>
<div class="banner-ot" id="oracle" *ngIf='url=="/oracle"'>

</div>
<div class="banner-ot" id="sap" *ngIf='url=="/sap"'>

</div>
<div class="banner-ot" id="workday" *ngIf='url=="/workday"'>

</div>
<div class="banner-ot" id="about" *ngIf='url=="/about"'>

</div>
<div class="banner-ot" id="contact" *ngIf='url=="/contact"'>

</div>
