#home1{
    background-image: url('../../assets/images/banner-1.jpg');
}
#home2{

}
#home3{

}
#home4{

}
#oracle{

}
#sap{

}
#workday{

}
#about{

}
#contact{

}
.banner{
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-ot{
    background-color: tomato;
    height: 65vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.desktop
{
    margin-top: 21%;
    margin-left: 24px;    
}
.responsive 
{
    display: none
}

/*media queries*/
@media only screen and (max-width: 600px) {
    .responsive 
    {
        display:block;
        margin-top: 24%;
    }
    .desktop
        {
            display: none;
        }
}