#home1{
    background-image: url('../../assets/images/banner-1.jpg');
   
}
#home2{
    background-image: url('../../assets/images/banner-2.png');
}
#home3{
    background-image: url('../../assets/images/banner-3.png');
}
#home4{

}
#oracle{
    background-color: black;
    background-image: url('../../assets/images/oracle-bg.jpg');
}
#sap{
    background-color: black;
    background-image: url('../../assets/images/sap-bg.jpg');
    padding-top: 100px;
}
#workday{
    background-color: rgb(1, 137, 190);
    background-image: url('../../assets/images/workday-bg.jpg');
}
#about{

}
#contact{

}
.banner{
    background-color: tomato;
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-ot{
    background-color: tomato;
    padding-top: 50px;
    height: 65vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*media queries*/
/* @media only screen and (max-width: 600px) {
   .banner
   {
       height:auto;
   }
   #home1
   {
       padding-top:26% 
   }
   .size
    {
        font-size: 50px;
        margin-left: 30PX;
        margin-right: 30px;
        transform: rotate(88deg);
    }
    #home1 h1{
        margin-left: 0%;
        font-size: 30px
    }
} */
