#home1{
    background-image: url('../../assets/images/banner-1.jpg');
   
}
.bg-section
{
    padding-top: 22%;
    color:#45DC93;
    font-weight: 900;
    font-family: Magettas dEMO;
}
.bg-section i
{
    font-size: 65px;
}
.f1 
{
    font-size: 40px;
}
.f2
{
    font-size: 40px;
}
#home2{
    background-image: url('../../assets/images/banner-2.png');
}
#home3{
    background-image: url('../../assets/images/banner-3.png');
}
.bg-section3
{
    padding-top: 22%;
    font-size: 34px;
    color:#E1DF34;
    font-weight: 900;
    font-family: Magettas dEMO;
}
.bg-section3 i
{
    font-size: 65px;
}
.txt{
    padding: 0px;
    margin: 0px;
}
#home4{

}
#oracle{
    background-color: black;
    background-image: url('../../assets/images/oracle-bg.jpg');
}
#sap{
    background-color: black;
    background-image: url('../../assets/images/sap-bg.jpg');
    padding-top: 100px;
}
#workday{
    background-color: rgb(1, 137, 190);
    background-image: url('../../assets/images/workday-bg.jpg');
}
#about{

}
#contact{

}
.banner{
    background-color: tomato;
    height: 100vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.banner-ot{
    background-color: tomato;
    padding-top: 50px;
    height: 65vh;
    min-height: 300px;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*media queries*/
@media only screen and (max-width: 768px) {
    .banner
    {
        height: auto;
    }
  .bg-section
  {
      padding-top: 21%;
      padding-bottom: 27px;
  }
  .bg-section i
  {
    transform: rotate(90deg);
  }
} 