#home1{
    background-image: url('../../assets/images/banner.jpg');
   
}
#home1 .bg-section
{
    padding-top: 150px;
    padding-bottom: 100px;
    color:#9BE41D;
    font-weight: 900;
    font-family: Magettas;
}
#home1 .bg-section i
{
    font-size: 50px;
    padding-top: 52px;
}
.f1 
{
    font-size: 50px;
    border: 4px solid rgb(39, 38, 38);    
    border-radius: 15px;
}

#home2{
    background-image: url('../../assets/images/banner-2.jpg');
} 
#home2 .bg-section
{
    padding-top: 150px;
    padding-bottom: 100px;
    color:rgb(14, 29, 99);
    font-weight: 900;
    font-family: Magettas;
}
#home2 .bg-section i
{
    font-size: 50px;
    padding-top: 52px;
}

.f2
{
    font-size: 50px;
    border: 4px solid rgb(44, 0, 0);    
    border-radius: 15px;
}
#home3{
    background-image: url('../../assets/images/banner-3.jpg');
}
#home3 .bg-section
{
    padding-top: 150px;
    padding-bottom: 100px;
    color:rgb(23, 216, 250);
    font-weight: 900;
    font-family: Magettas;
}
.f3
{
    font-size: 50px;
    border: 4px solid rgb(37, 37, 37);    
    border-radius: 15px;
}
#home3 .bg-section i
{
    font-size: 50px;
    padding-top: 52px;
}
.bg-section3
{
    font-size: 34px;
    color:#E1DF34;
    font-weight: 900;
    font-family: Magettas dEMO;
}
.bg-section3 i
{
    font-size: 65px;
}
.txt{
    padding: 0px;
    margin: 0px;
}

#home4{
background-image: url('../../assets/images/banner-4.jpg');
}
#home4 .bg-section
{
    padding-top: 150px;
    padding-bottom: 100px;
    color:rgb(245, 245, 245);
    font-weight: 900;
    font-family: Magettas;
}
#home4 .bg-section i
{
    font-size:70px;
    padding-top: 52px;
}
.f4
{
    font-size: 50px;
    border: 4px solid rgb(0, 6, 92);    
    border-radius: 15px;
}
#oracle{
    background-color: rgb(15, 18, 202);
    background-image: url('../../assets/images/oracle-bg.jpg');
    padding-top: 80px;
}
#sap{
    background-color: rgb(72, 156, 235);
    background-image: url('../../assets/images/sap-bg.jpg');
    padding-top: 80px;
}
#workday{
    background-color: rgb(1, 137, 190);
    background-image: url('../../assets/images/workday-bg.jpg');
    padding-top: 80px;
}
#about{
    background-color: black;
    background-image: url('../../assets/images/about-bg.jpg');
    padding-top: 150px;
    padding-bottom: 100px;
}
#contact{
    background-color: black;
    background-image: url('../../assets/images/contact-bg.jpg');
    padding-top: 150px;
    padding-bottom: 100px;
}
.banner{
    background-color: tomato;
    height: auto;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*media queries*/
@media only screen and (max-width: 1024px) {
    .f1{
        font-size: 55px;
    }
    .bg-section i{
        font-size: 50px;
        padding-top: 40px;
    }
} 
@media only screen and (max-width: 768px) {
    .f1{
        font-size: 40px;
    }
    .bg-section i{
        font-size: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .bg-section{
        padding: 30px;
        padding-top: 100px;
    }
} 