h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
section {
    padding: 100px 0;
  }
  #services{
    background-image: url("../../assets/images/bg-service.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  @media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }
    
  @media only screen and (max-width: 700px){
 

  }