<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">Work Day Human Capital Management:
  </h1>
  <p>
    Work Day HCM applications provide functionality to manage the full worker lifecycle—from staffing to compensation—using a single intuitive human capital management system.<br>
  </p>
  <ul class="txt">
    <li>Modify organizational structures using flexible organization management.</li>
    <li>Allow your teams to define and manage their own business processes.</li>
    <li>Empower all employees with a consistent, engaging, and social experience across all devices.</li>
    <li>Manage your entire workforce, including contingent workers, to ensure global consistency and allow for local variation.</li>
  </ul>
   <br><br> 

  <mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">People analytics</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p class="a-txt">
            Accurately interpret data and take action directly. Our people analytics are embedded throughout Workday Human Capital Management, giving you a single source of truth, a continuous user experience, and an easy way to take action.
        </p>
        <ul>
          <li>Provide on-the-go executives with insights on any device to understand the health of the organization</li>
          <li>Help managers and executives quickly see what’s driving metrics with contextual reports and dashboards.</li>
          <li>Drill down to the transaction level and take action from anywhere in a report, dashboard, or scorecard.</li>
          <li>Access thousands of Workday reports and analytics at no extra charge.</li>
        </ul>
      </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header class="header">
            <mat-panel-title class="title">Audit and internal controls</mat-panel-title>
            <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <p class="a-txt">
            Increase efficiency and reduce the cost of internal and external audits. Workday was created post-Sarbanes-Oxley, so audit and internal controls are built into the system.
        </p>
        <ul>
          <li>Leverage a comprehensive record of transactions with complete audit trails.</li>
          <li>Easily aggregate transactional and operational records for audits.</li>
          <li>Reduce cost and maintenance complexity with built-in security controls.</li>
          <li>Use live data to make better business decisions.</li>
        </ul>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header class="header">
              <mat-panel-title class="title">Workforce planning</mat-panel-title>
              <mat-panel-description></mat-panel-description>
          </mat-expansion-panel-header>
          <p class="a-txt">
              Workday Workforce Planning is the only cloud application that seamlessly works with your core HR system-of-record, giving you unparalleled insight into your current workforce and future needs.
          </p>
          <ul>
            <li>Create plans in a familiar spreadsheet experience, using key dimensions like organization, job profile, worker type, skill, and location.</li>
            <li>Combine financial data with live talent insights to implement or improve talent strategies.</li>
            <li>Flexibly model evolving business conditions, such as growth or reduction to match demand.</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header class="header">
                <mat-panel-title class="title">Recruiting</mat-panel-title>
                <mat-panel-description></mat-panel-description>
            </mat-expansion-panel-header>
            <p class="a-txt">
                Quickly find the best and brightest by understanding your entire talent pool.
               </p>
               <ul>
                 <li>Use analytics to understand your current talent and guide recruiting processes.</li>
                 <li>Speed up recruiting with collaborative capabilities for the whole hiring team.</li>
                 <li>Nurture candidates throughout the hiring process with an intuitive, mobile experience.</li>
                 <li>Search your internal talent to fill positions and retain employees.</li>
                 <li>Plan, hire, and onboard using a single HCM application.</li>
               </ul>
          </mat-expansion-panel>

          <mat-expansion-panel>
              <mat-expansion-panel-header class="header">
                  <mat-panel-title class="title">Talent management</mat-panel-title>
                  <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p class="a-txt">
                  Align talent, pay for performance, and develop tomorrow’s leaders. Workday Talent Management lets you do all that and more.
                </p>
                <ul>
                  <li>Enable employees and managers to discuss career goals collaboratively.</li>
                  <li>Empower employees to build connections, seek guidance, and design their career path.</li>
                  <li>Measure employee engagement and company culture with pulse surveys.</li>
                  <li>Manage and evaluate succession plans for essential jobs in your organization.</li>
                  <li>Identify retention risk trends so you can retain high-risk top performers.</li>
                  <li>Increase first-day productivity and streamline administrative tasks using Workday Onboarding.</li>
                </ul>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="header">
                    <mat-panel-title class="title">Learning</mat-panel-title>
                    <mat-panel-description></mat-panel-description>
                </mat-expansion-panel-header>
                <p class="a-txt">
                    Make learning meaningful. With Workday, you can engage employees at every stage in their career through shareable learning experiences accessible on any device.
                  </p>
                  <ul>
                    <li>Personalize content based on who employees are and what they do.</li>
                    <li>Manage all aspects of learning, from informal learning to compliance training.</li>
                    <li>Deliver engaging, interactive video content.</li>
                    <li>Measure learning effectiveness through built-in, actionable reporting.</li>
                  </ul>
              </mat-expansion-panel>

              <mat-expansion-panel>
                  <mat-expansion-panel-header class="header">
                      <mat-panel-title class="title">Compensation</mat-panel-title>
                      <mat-panel-description></mat-panel-description>
                  </mat-expansion-panel-header>
                  <p class="a-txt">
                      Get the tools you need to provide competitive packages that attract and retain talent anywhere.
                    </p>
                    <ul>
                      <li>Define packages, plans, and programs using data from Workday and the marketplace.</li>
                      <li>Invest in valuable team members based on their ability to deliver results.</li>
                      <li>Plan, analyze, and execute compensation plans using a single source of data.</li>
                      <li>Easily create compensation plans with flexible location profiles and currency options.</li>
                      <li>Use data to facilitate compensation review processes.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header class="header">
                        <mat-panel-title class="title">Benefits</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                    <p class="a-txt">
                        Define, manage, and adjust benefits to meet your business’s unique requirements.
                      </p>
                      <ul>
                        <li>Offer a full spectrum of benefits, like health, retirement, wellness, and more.</li>
                        <li>Connect with hundreds of top benefits providers using prebuilt integrations.</li>
                        <li>Easily update benefits packages each year with adjustable configurations.</li>
                        <li>Trigger benefits transactions based on life, work, or passive events.</li>
                        <li>Embrace evolving regulations, such as the Affordable Care Act (ACA), and ensure that eligible employees are covered.</li>
                      </ul>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                      <mat-expansion-panel-header class="header">
                          <mat-panel-title class="title">Payroll management</mat-panel-title>
                          <mat-panel-description></mat-panel-description>
                      </mat-expansion-panel-header>
                      <p class="a-txt">
                          With a single system for payroll and HCM, you can pay your employees on time, every time.
                         </p>
                         <ul>
                           <li>Seamlessly manage HR transactions that affect payroll—from new compensation plans to onboarding and reorganizations.</li>
                           <li>Support your organization’s unique payroll needs with a flexible calculation engine.</li>
                           <li>Get tax and regulatory updates automatically via the cloud.</li>
                           <li>Speed up year-end reporting and financial planning with always-current data.</li>
                         </ul>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header class="header">
                            <mat-panel-title class="title">Time and absence management</mat-panel-title>
                            <mat-panel-description></mat-panel-description>
                        </mat-expansion-panel-header>
                        <p class="a-txt">
                            Manage your entire workforce, anytime, anywhere.
                          </p>
                          <ul>
                            <li>Provide your people with a truly mobile, intuitive system.</li>
                            <li>Reduce compliance risks by automating rules and calculations.</li>
                            <li>Easily track and analyze your team’s time-off requests.</li>
                            <li>Turn insight to action and efficiently manage your workforce.</li>
                          </ul>
                      </mat-expansion-panel>

  </mat-accordion>


  </div>