<div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">Oracle Human Capital Management:
  </h1>
  <p>
    Oracle's E-Business Suite Human Capital Management enables you to architect a global 
    foundation for HR data and improved business processes. E-Business Suite Human HCM 
    delivers a robust set of best-in-class human resources functionality that enables 
    you to increase productivity, accelerate business performance, and lower your cost 
    of ownership.<br><br>
    
    Oracle Fusion Human Capital Management (HCM) is a revolutionary step in human capital 
    management in cloud. Oracle Fusion HCM redefines the business of HR to provide value 
    to every person in the organization. It provides extremely powerful embedded intelligence, 
    social networking tools and mobile accessibility so workers can get their job done easier 
    and faster.<br><br>
  </p> 
    <h1 class="my-4">Consulting Services:
    </h1>
<p>
  We offer implementation and support services for below modules in Oracle HCM applications.<br>
</p>
<ul>
  <li>Fusion Global Human Resources </li>
  <li>Fusion Workforce Directory Management</li>
  <li>Fusion Global Payroll</li>
  <li>Fusion Payroll Interface</li>
  <li>Fusion Benefits</li>
  <li>Fusion Compensation</li>
  <li>Fusion Total Compensation Statement</li>
  <li>Fusion Talent Review</li>
  <li>Fusion Performance Management</li>
  <li>Fusion Goal Management</li>
  <li>Fusion Network at Work</li>
</ul>
  </div>